.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2% 0 1% 0;
    color: rgb(66, 65, 68);
}

.titulo{
    font-size: 2rem;
    margin-bottom: 1%;
}

.lista-header{
    display: flex;
    flex-direction: row;
    max-width: 100%;
}

.avisos{
    font-size: 0.9rem;
    font-weight: 700;
    text-align: center;
}

@media (max-width: 948px) {
  
    .titulo{
        text-align: center;
    }

    .lista-header{
        flex-direction: column;
        align-items: center;
    }
    
  }