
.info-cases{
    height: 40%;
    margin: 0 2% 0 10%;
    padding: 1% 4%;
    text-align: center;
    color: rgb(66, 65, 68);
    border-radius: 1%;
    box-shadow: 4px 4px 5px rgb(216, 214, 214);
    background-color: rgb(212, 217, 221);
    background-size: cover;
    background: #BE93C5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #7BC6CC, #BE93C5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #7BC6CC, #BE93C5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
li{
    list-style: none;
}

h1{
    font-size: 2.5rem;
}

.info-cases  p{
    font-size: 2rem;
    margin: 3%;
}

.casos{
    color: coral;
}

.casosHoje{
    color: rgb(230, 36, 133);
}

.casosCriticos{
    color: red;
}

.mortes{
    color: rgb(58, 54, 54);
}

.pessoasRecuperadas{
    color: green;
}

.info-cases .custom-select{
    line-height: 10px;
    font-size: 1.6em;
}

@media (max-width: 948px) {
    .info-cases{
        margin: 0;
      
    }
    
  }