.noticia{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

ul{
    list-style: none;
    text-align: justify;
    border: 1px solid rgb(235, 232, 232);
    margin: 3%;
    padding: 1%;
    background: rgb(238, 234, 234);
    background: #BE93C5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #7BC6CC, #BE93C5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #7BC6CC, #BE93C5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 2px 2px 10px rgb(185, 184, 184);
    border-radius: 1%;

}

li{
    padding: 2%;
}

.titulo{
    font-size: 25px;
    font-weight: 700;
    color: rgb(66, 65, 68)
}

.descricao{
    color: rgb(66, 65, 68)

}

.url:hover{
    color: rgb(147, 118, 180);
}