@keyframes enterRight {
  0% {
    transform: translateX(100px);
  }
  100% {
    transform: rotate(xx) translateX(0px);
  }
}

.noticias{
  width: 60%;
}

ul.ul-noticias {
  padding: 2%;
  margin: 0 0 1% 0;
  animation: enterRight 1s 1 0s ease;
}

li {
  text-align: justify;
  padding: 2%;
}

.url {
  word-wrap: break-word;
}

.titulo {
  font-size: 25px;
  font-weight: 700;
  color: rgb(66, 65, 68);
}

.descricao {
  color: rgb(66, 65, 68);
}

.url:hover {
  color: rgb(147, 118, 180);
}

@media (max-width: 948px) {
  .noticias{
    width: 100%;

  }

  ul.ul-noticias{
    margin: 3% 0;
  }


  p {
    word-wrap: break-word;
  }

  .url {
    word-wrap: break-word;
  }
}
