
ul.ul-noticias{  
   padding: 4%;
   margin: 0 0 2% 0;
        
}

li{
    text-align: justify;

}

.url{
    word-wrap: break-word;
}

.titulo{
    font-size: 25px;
    font-weight: 700;
    color: rgb(66, 65, 68)
}

.descricao{
    color: rgb(66, 65, 68)

}

.url:hover{
    color: rgb(147, 118, 180);
}

@media (max-width: 948px) {
    ul.ul-noticias{
        margin: 5% 25%;

    }


    p{
        word-wrap: break-word;
    }

  

    .url{
        word-wrap: break-word;
    }
    
  }