.App{
    max-width: 100%;
    margin: 0 auto;
    
}

.main{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 4%;
    
}

.footer{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

ul{
    background-color: rgb(212, 217, 221);
    background-size: cover;
    background: #BE93C5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #7BC6CC, #BE93C5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #7BC6CC, #BE93C5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

li{
    list-style: none;
}


@media (max-width: 948px) {
    .main{
        flex-direction: column;
        align-items: center;
        overflow: hidden; 
    }
    
  }


